<div class="main-columns">
    <div class="chatlist-column sidebar">
        <div class="chatlist-header">
            <div class="profile-btn">
                <img src="{{ img.[profile.svg] }}" alt="">
            </div>
            <div class="search">
                <input type="text" placeholder="Поиск">
                <button type="submit"><img src="{{ img.[search.svg] }}" alt=""></button>
            </div>
        </div>
        <div class="chatlist-items">
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
            {{> chat-item}}
        </div>
    </div>
    <div class="main-column">

    </div>
</div>