<main>
	<div class="container profile-wrapper">
		<div class="profile">
			<div class="profile-image">
				<img src="{{ img.[profile.svg] }}" alt="profile">
			</div>
			<div class="profile-name">Сергей</div>
			<div class="profile-fields">
				<div class="profile-field">
					<div class="profile-field-name">
						Почта
					</div>
					<div class="profile-field-value">
						sergey.azyabin@yandex.ru
					</div>
				</div>
				<div class="profile-field">
					<div class="profile-field-name">
						Логин
					</div>
					<div class="profile-field-value">
						zyablik22
					</div>
				</div>
				<div class="profile-field">
					<div class="profile-field-name">
						Имя
					</div>
					<div class="profile-field-value">
						Сергей
					</div>
				</div>
				<div class="profile-field">
					<div class="profile-field-name">
						Фамилия
					</div>
					<div class="profile-field-value">
						Азябин
					</div>
				</div>
				<div class="profile-field">
					<div class="profile-field-name">
						Имя в чате
					</div>
					<div class="profile-field-value">
						zyablik
					</div>
				</div>
				<div class="profile-field">
					<div class="profile-field-name">
						Телефон
					</div>
					<div class="profile-field-value">
						8 999 999 99 99
					</div>
				</div>
				
			</div>
			<div class="profile-links">
				<div class="profile-link">
					<a href="/profile/edit/">Изменить данные</a>
				</div>
				<div class="profile-link">
					<a href="/profile/password/">Изменить пароль</a>
				</div>
				<div class="profile-link">
					<a href="/chat/">Выйти</a>
				</div>
			</div>
		</div>
	</div>
</main>