<label class="{{{class}}}">
    <div class="form-group-title">
        {{title}}
    </div>
    {{#if error}}
        <div class="form-group-error">{{error}}</div>
    {{/if}}
    
    {{{input}}}
</label>