.form-group {
    width: 100%;

    input {
        width: 100%;
        border: none;
        border-bottom: grey;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        height: 30px;
        outline: none;
        transition: .3s;

        &:focus-visible {
            border-bottom-color: #3494fbce;
        }
        
        &.error {
            border-bottom-color: red;
        }
    }
}

.form-group-title {
    font-size: 11px;
    margin-bottom: 6px;
}

.form-group-error {
    color: red;
    font-size: 12px;
}