<div class="chatlist-item">
    <div class="chatlist-item-cols">
        <div class="chatlist-item-image">
            <img src="{{ img.[profile.svg] }}" alt="">
        </div>
        <div class="chatlist-item-info">
            <div class="chatlist-item-name">
                Андрей
            </div>
            <div class="chatlist-item-msg">
                Изображение
            </div>
        </div>
        
        <div class="chatlist-item-msg-time">
            10:49
        </div>
        <div class="chatlist-item-msg-count">
            2
        </div>
    </div>
</div>