.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.error-page-title {
    font-size: 32px;
    font-weight: bold;
}

.error-page-desc {
    font-size: 18px;
}