<main>
    <div class="error-page">
        <div class="error-page-title">
            {{error}}
        </div>
        <div class="error-page-desc">
            {{description}}
        </div>
        <a href="/chat/" class="error-page-link">Назад к чатам</a>
    </div>
</main>